/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #ffffff;
}

/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #003153;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #002244;
}

/* Google Button */
.google-btn {
    background-color: #4285F4;
    padding: 10px 25px;
    margin-top: 20px;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Logout Button */
.logout-btn {
    background-color: #bb2020;
}

.logout-btn:hover {
    background-color: #aa1818;
}

/* Form */
.calendar-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #b0b0b0;
    display: block;
    margin-bottom: 8px;
}

select, input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
}

select:focus, input[type="text"]:focus {
    border-color: #003153;
    outline: none;
}

input[type="text"]::placeholder {
    color: #888;
}

/* Submit Button */
.submit-btn {
    width: 100%;
    background-color: #003153;
    color: #ffffff; /* Text color */
    border: none; /* Remove default border */
    padding: 10px 0; /* Vertical padding, adjust if needed */
    text-align: center; /* Center text horizontally */
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Ensure it respects padding and text alignment */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.submit-btn:hover {
    background-color: #002244;
}


/* Google Sign-In Button Styles */
.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}


/* Modal link styling */
.modal-link {
    display: inline-block;
    margin-left: 10px;
    color: #4285F4;
    cursor: pointer;
    font-size: 14px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #1f1f1f;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #000000; /* Set text color to black */
}


.close-button {
    color: #ffffff;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.alert-success {
    background-color: #4CAF50;
    color: white;
}

.alert-error {
    background-color: #f44336;
    color: white;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Styling */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Max width of the modal */
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Image in Modal */
.modal-image {
    width: 100%; /* Responsive width */
    max-width: 100%; /* Prevents stretching beyond its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px;
    margin-top: 20px; /* Space above the image */
}

/* For small devices */
@media (max-width: 600px) {
    .modal-content {
        width: 95%; /* Adjust width for smaller screens */
    }
}




/* Style the date picker */
input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Add focus effect to date picker */
input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
}









/* Date picker container styling */
.date-picker-container {
    display: flex;
    align-items: center;
}

/* Button styling for small buttons */
.small-btn {
    padding: 8px 12px;
    font-size: 14px;
    margin-left: 10px;
    background-color: #003153;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.small-btn:hover {
    background-color: #002244;
}

/* Date buttons container styling */
.date-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}










''''''''''''''''''''''''''''''''''''''''''

/* /* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #ffffff;
}

/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #003153;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #002244;
}

/* Google Button */
.google-btn {
    background-color: #4285F4;
    padding: 10px 25px;
    margin-top: 20px;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Logout Button */
.logout-btn {
    background-color: #bb2020;
}

.logout-btn:hover {
    background-color: #aa1818;
}

/* Form */
.calendar-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #b0b0b0;
    display: block;
    margin-bottom: 8px;
}

select, input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
}

select:focus, input[type="text"]:focus {
    border-color: #003153;
    outline: none;
}

input[type="text"]::placeholder {
    color: #888;
}

/* Submit Button */
.submit-btn {
    width: 100%;
    background-color: #003153;
    color: #ffffff; /* Text color */
    border: none; /* Remove default border */
    padding: 10px 0; /* Vertical padding, adjust if needed */
    text-align: center; /* Center text horizontally */
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Ensure it respects padding and text alignment */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.submit-btn:hover {
    background-color: #002244;
}


/* Google Sign-In Button Styles */
.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}


/* Modal link styling */
.modal-link {
    display: inline-block;
    margin-left: 10px;
    color: #4285F4;
    cursor: pointer;
    font-size: 14px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #1f1f1f;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #000000; /* Set text color to black */
}


.close-button {
    color: #ffffff;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.alert-success {
    background-color: #4CAF50;
    color: white;
}

.alert-error {
    background-color: #f44336;
    color: white;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Styling */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Max width of the modal */
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Image in Modal */
.modal-image {
    width: 100%; /* Responsive width */
    max-width: 100%; /* Prevents stretching beyond its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px;
    margin-top: 20px; /* Space above the image */
}

/* For small devices */
@media (max-width: 600px) {
    .modal-content {
        width: 95%; /* Adjust width for smaller screens */
    }
}
 */
